
.img {
  width: 55%;
  height: 70%;
  align-items: center;
  margin-left: 25rem;
}
.home {
  padding-bottom: 40rem;
}
@media (max-width: 768px) {
  img {
    width: 85%;
    height: 70%;
    margin-left: 5rem;
  }
  .home {
    padding-top: 20rem;
  }
}
