.notifi-box {
  display: none;
}
body {
  background-color: rgb(243, 240, 240);
}
.feedback {
  padding-top: 7%;
}
.feedback .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.row form {
  margin-top: 1%;
  flex: 1 1 15rem;
  background: #fff;
  border: var(--border);
  box-shadow: var(--box-shadow);
  text-align: center;
  padding: 1rem;
  border-radius: 0.5rem;
}

h3 {
  color: var(--black);
  margin-top: 1%;
  margin-left: 40%;
  font-size: 1.7rem;
}
.row form .box {
  width: 40rem;
  margin: 0.7rem 0;
  border-radius: 0.5rem;
  border: var(--border);
  font-size: 1.6rem;
  color: var(--black);
  text-transform: none;
  padding: 1rem;
}
.row form .btn {
  padding: 1rem 4rem;
}
.selectBtn {
  padding: 1rem;
  margin-bottom: 1%;
  border: var(--border);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  color: var(--black);
  cursor: pointer;
  font-size: 1.7rem;
  background: rgb(243, 243, 243);
  text-shadow: 0.1rem 0.1 rem 0 rgba(0, 0, 0, 0.2);
}
.selectBtn:hover {
  background: var(--red);
  color: #fff;
}
.heading {
  padding-top: 7%;
  text-align: center;
  text-shadow: var(--text-shadow);
  text-transform: uppercase;
  color: var(--black);
  font-size: 3rem;
  letter-spacing: 0.4rem;
}
.img {
  width: 40%;
  height: 40%;
  padding-bottom: 4%;
  padding-bottom: 4%;
}
.arrow {
  height: 7%;
  margin: 0%;
  width: 5%;
}
.arrow:hover {
  background-color: red;
}
@media (max-width: 991px) {
  .feedback {
    padding-top: 16%;
  }
  .arrow {
    visibility: hidden;
  }
}
/*phone*/
@media (max-width: 768px) {
  .feedback {
    padding-top: 10rem;
  }
  .heading {
    padding-top: 20%;
  }
  .arrow {
    visibility: hidden;
  }
}
